<% if use_formtastic? -%>
- semantic_form_for @<%= singular_name %> do |f|
  - f.inputs do
  <%- for attribute in attributes -%>
    = f.input :<%= attribute.name %>
  <%- end -%>
  = f.buttons
<%- else -%>
- form_for @<%= singular_name %> do |f|
  = f.error_messages
  <%- for attribute in attributes -%>
  %p
    = f.label :<%= attribute.name %>
    %br
    = f.<%= attribute.field_type %> :<%= attribute.name %>
  <%- end -%>
  %p
    = f.submit "Submit"
<%- end %>